.navbar {
    height: 5%;
    padding: 1.5em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 111, 137);
    color: white;
    z-index: 1;
    position: relative;
    box-shadow: 0px 1px 10px 0px #000000bd;
}

.navbar a {
    color: white;
}

.navbar .sign-out-btn {
    cursor: pointer;
    text-decoration: underline;
}

.navbar .navbar-end {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar .navbar-end .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.navbar .navbar-end .avatar {
    width: 1.5em;
    height: 1.5em;
}

.navbar .navbar-end span {
    margin: 0 0.3em;
}

.navbar .navbar-end .search-input {
    margin: 0 0.5em;
}
.navbar .navbar-end .search-input > div {
    background-color: rgb(255, 120, 151);
}
.navbar .navbar-end .search-input fieldset {
    border-color: white;
}
.navbar .navbar-end .search-input input {
    padding: 0.7em;
}
.navbar .navbar-end .search-input label {
    line-height: 1;
}
