.carousel-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5em 2em;
}

.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15em;
    user-select: none;
    overflow: hidden;
}

.carousel-title {
    margin: 0;
    text-align: left;
}

.carousel .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.carousel .carousel-arrow.prev {
    left: 0.2em;
}
.carousel .carousel-arrow.next {
    right: 0.2em;
}
.carousel .carousel-arrow.disabled {
    pointer-events: none;
}

.carousel-bread-crumbs {
    position: absolute;
    bottom: 1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}
.carousel-bread-crumbs .bread-crumb {
    width: 1.5em;
    margin: 0.2em;
    height: 0.3em;
    background-color: gray;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: background-color 0.5s;
}
.carousel-bread-crumbs .bread-crumb.active {
    background-color: white;
    pointer-events: none;
}

.carousel-slide {
    display: none;
    width: 100%;
    height: 100%;
}
.carousel-slide.active {
    display: flex;
    flex-direction: row;
}
.carousel-item {
    position: relative;
    display: flex;
    margin: 1em 0.5em;
    overflow: hidden;
    border-radius: 5px;
}
.carousel-item.click {
    cursor: pointer;
}

.carousel-item .item-name {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(60, 74, 148, 0.5);
    /* background-image: linear-gradient(rgba(29, 38, 113, 0.5), rgba(195, 55, 100, 0.5)); */
    /* mix-blend-mode: difference; */
    transition: 0.2s background-color, 0.2s transform;
}

.carousel-item .item-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* hover over item */
.carousel-item:hover .item-name {
    background-color: rgba(60, 74, 148, 0.3) !important;
    background-image: none;
    transform: scale(1.3);
}

.carousel-bread-crumbs .bread-crumb:hover {
    background-color: rgb(185, 185, 185);
}

/* animation Time!!! */

/* old<--new */
.carousel-slide-next {
    display: flex;
    position: absolute;
    animation: slide-left 1s ease-in-out forwards;
}

.carousel-slide-start {
    position: absolute;
    animation: active-slide-left 1s ease-in-out forwards;
}

/* new --> old */
.carousel-slide-prev {
    display: flex;
    position: absolute;
    animation: active-slide-left 1s ease-in-out reverse forwards;
}

.carousel-slide-end {
    position: absolute;
    animation: slide-left 1s ease-in-out reverse forwards;
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes active-slide-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.carousel-bread-crumbs .bread-crumb.next {
    background-color: white;
}

.carousel-bread-crumbs .bread-crumb.prev {
    background-color: gray;
}
