.main-item-screen {
    display: flex !important;
    align-items: stretch;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-between; /* Distribute items evenly */
    padding: 10px;
}

.genral-item-info {
    margin: 0 20px;
}


.bottom-profile {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1em;
    padding: 0.5em;
    align-items: start;
    margin-top: auto; /* Adjust the margin to push it upwards */
}

.item-info {
    margin: auto;
    align-items: center;
}

.item-info h2 {
    margin: auto;
}

.item-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-width: 80%;
    position: relative;
}

.item-info img {
    object-fit: cover;
    width: 100%;
    height: 16em;
}

.buy-item-title {
    text-align: center;
    margin-left: auto;
}


.buy-item-btn {
    padding-bottom: 0.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: #ec75a9;
}

.new-comment-content {
    margin: 1em !important;
    width: 90%;
}

.submit-new-comment-btn {
    margin-top: 1em !important;
    background: #ec75a9;
}

.written-comments {
    margin-bottom: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.toggle-replays {
    margin-bottom: 1em !important;
}

.written-comments-name {
    top: 0;
}

.written-comments-content {
    text-align: center;
}

.item-comments {
    background-color: #ffa4db3d;
    padding: 1em;
}

.comments {
    margin-top: 1em !important;
    flex: 1 1 0px !important;
    font-size: 1.5em;
}

.item-info {
    width: auto;
}

.item-img {
    width: 100%; /* Ensure the image fills the entire width of the card */
    height: auto; /* Maintain aspect ratio */
  }