.cart-page {
    display: flex;
    flex-direction: row-reverse;
    height: 84%;
    margin: 1em;
}

.button {
    background: rgb(237, 122, 122);
}

.order-summary-bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 1em;
    margin-bottom: 1em;
}

.purchase-btn {
    margin-top: 3em;
    color: white;
}

.total-price-container,
.total-item-count-container {
    border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-top: 1em;
}

.remove-from-cart-button {
    height: fit-content;
    align-self: self-end;
    margin-bottom: 20px !important;
    margin-right: 20px !important;
    /* color: rgb(237, 122, 122); */
}

.item-name {
    align-self: center;
}

.order-summary {
    width: 35%;
    height: 100%;
}

.cart-page .cart-information {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-right: 1em;
}

.cart-information .cart-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-tag {
    align-self: center;
}

.cart-information .cart-items {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-information .cart-item {
    min-height: 10em;
    margin: 0.5em 1em 0.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-information .cart-item img {
    object-fit: cover;
    width: 12em;
    height: 100%;
}

.cart-information .cart-bottom {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
}

.cart-information .cart-bottom .back-btn {
    color: white;
    text-decoration: none;
    background: rgb(237, 122, 122);
}
