.crochet-store-app {
    text-align: center;
    background-color: #fcbed1;
    color: rgb(237, 122, 122);
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    /* height: 100vh; */
}
