.home-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
}

.home-page .top-items-carousel .carousel {
    height: 35em;
}

.home-page .posts {
  /* display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: flex-start; 
  margin: 0 -10px;  */
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-between; /* Distribute items evenly */
  padding: 10px;
}




.home-page .main-title {
    font-size: 3em;
}
    