.home-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 84%;
}

.home-page .top-items-carousel .carousel {
    height: 35em;
}

.home-page .main-title {
    font-size: 3em;
}
