.home-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; /* Adjusted height to occupy full height */
}

.home-page .top-items-carousel .carousel {
    height: 35em;
}

.home-page .main-title {
    font-size: 3em;
}
  .card {
    width: calc(25% - 20px); /* Four cards in a row with 20px spacing */
    margin-bottom: 20px; /* Vertical spacing between rows */
  }
  
  .item-img {
    width: 100%; /* Ensure the image fills the entire width of the card */
    height: auto; /* Maintain aspect ratio */
  }
    